<p>home works!</p>
<div *ngIf="data">
  <h1>Login By {{data.provider}}</h1>
  {{data.displayName}} {{data.username}} <br>
  {{data.email}} <br><br>
  <img *ngIf="data.picture" src="{{data.picture}}" alt="no profile pic to display"><br>
  <img *ngIf="! data.picture" src="{{data._json.avatar_url}}" alt="no profile pic to display"><br>
  {{data.profileUrl}}

</div>

<div *ngIf="show">
  {{msg}}
</div>

<div class="">
  <form  [formGroup]="formValue" (ngSubmit)="onSubmit()" >
    <input type="text" name="" id="" placeholder="summary" formControlName="summary">
    <input type="text" name="" id="" placeholder="location" formControlName="location">
    <input type="text" name="" id="" placeholder="description" formControlName="description">
    <input type="datetime-local" name="" id="" formControlName="from">
    <input type="datetime-local" name="" id="" formControlName="to">
    <button type="submit" [disabled]="!formValue.valid" >Submit</button>
  </form>
</div>
